/frontend/node_modules/
node_modules

*.pyc
__pycache__/config.cpython-310.pyc
.gitignore
__pycache__/school.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
__pycache__/school.cpython-310.pyc
__pycache__/config.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/modules/__pycache__/__init__.cpython-310.pyc
app/modules/main/__pycache__/__init__.cpython-310.pyc
app/modules/main/__pycache__/models.cpython-310.pyc
