<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/basic.css">
        <link rel="stylesheet" href="css/core.css">
        <link rel="stylesheet" href="css/course.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/form-singUp.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/lesson.css">
        <link rel="stylesheet" href="css/modal.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__content container">
                    <a href="#" class="header__logo">
                        <img src="images/logo/logo_tensor-school.png" class="header__logoImage" alt="логотип школы Тензор">
                    </a>
                    <nav class="header__menu">
                        <ul class="menu__list">
                            <li class="menu__listItem"><a href="#" class="menu__link link">уроки</a></li>
                            <li class="menu__listItem"><a href="#" class="menu__link link">записаться</a></li>
                            <li class="menu__listItem"><a href="#" class="menu__link link">вход</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="about">
                <img class="about__banner" src="images/posts/banner.png" alt="красивый баннер">
                <div class="about__item">
                    <h1 class="about__title">О компании</h1>
                    <p class="about__text">Что такое Тензор? Это вектор. И мы движемся вперед с 1996 года как в работе, так и просто по жизни.<br>
                        «Тензор» – аккредитованный ФНС, ПФ и Росстатом оператор электронного документооборота, сертифицированный EDI‑провайдер.<br><br>
                    
                        А еще это один из крупнейших удостоверяющих центров в России. Это значит, что 50% всех электронных ключей, используемых для сдачи электронной отчетности, участия в торгах и получения госуслуг, выданы нами.</p>
                </div>
                <div class="about__item">
                    <h1 class="about__title">Топ-менеджмент</h1>
                    <p class="about__text">
                        Мы ценим не статус, а конкретного человека, его упорство и самоотдачу, преданность делу и желание стать профессионалом.
                        Двигателем прогресса и новатором способен стать каждый. Достаточно бросить вызов всему традиционному и выйти за рамки текущей деятельности. <br><br>
                        Любая цель достижима. Просто нужно приложить максимум усилий и свой пытливый ум. В «Тензоре» каждый может вырасти от новичка до топ-менеджера.
                    </p>
                </div>
                <div class="about__counter">
                    <div class="counter__item" >
                        <p class="counter__value">11</p> 
                        <p class="counter__disc">центров разработки</p>
                    </div>
                    <div class="counter__item" >
                        <p class="counter__value">99</p> 
                        <p class="counter__disc">филиалов</p>
                    </div>
                    <div class="counter__item" >
                        <p class="counter__value">6 000</p> 
                        <p class="counter__disc">сотрудников</p>
                    </div>
                    <div class="counter__item" >
                        <p class="counter__value">3 500 000</p> 
                        <p class="counter__disc">клиентов</p>
                    </div>
                </div>
                <div class="about__item">
                    <h1 class="about__title">Учим и учимся</h1>
                    <p class="about__text">
                        Мы открыты и всегда готовы делиться опытом. Это неотъемлемая часть успеха.
                        Именно так рождаются неординарные идеи и рабочие концепции. <br><br>
                        Мы организуем митапы и конференции, активно развиваем образовательные программы для студентов и начинающих IT‑специалистов.
                        Для них это возможность проверить силы и получить работу в крупной компании, для нас – шанс взглянуть на себя и нашу работу под другим углом.
                    </p>
                </div>
                <div class="about__item">
                    <h1 class="about__title">Отдыхаем</h1>
                    <p class="about__text">
                        Тензор — больше, чем просто работа. Нас 6 000, и мы разные: молодые и взрослые, веселые и задумчивые, начинающие и опытные, идеалисты и реалисты. 
                        Но мы чувствуем себя частью единой команды. Новый год, День рождения компании, День программиста, 23 февраля, 8 марта, Масленица — весело отмечать праздники — наша традиция. 
                        Причём получаются они по-настоящему семейными. 
                        Мы всегда придумаем что-нибудь интересное: пригласим покататься на лыжах, отправиться на пикник или сходить в театр.
                    </p>
                </div>
            </main>
        </div>
            <footer class="footer">
                <div class="footer__content container">
                    <address class="footer__contacts">
                        Центр разработки в Уфе. Адрес:
                        ул. Менделеева, 134/7, БЦ «Территория 3000».
                        Телефон: +7 347 246-16-44
                    </address>
                    <div class="footer__logo">
                        <a href="#">
                            <img src="images/logo/logo_tensor.PNG" alt="логотип Тензор">
                        </a>
                    </div>
                    <div class="footer__socialLinks">
                        <a href="#" class="footer__item">
                            <img src="images/icons/vk.PNG" alt="логотип VK">
                        </a>
                        <a href="#" class="footer__item">
                            <img src="images/icons/inst.PNG" alt="логотип Inst">
                        </a>
                        <a href="#" class="footer__item">
                            <img src="images/icons/tg.PNG" alt="логотип TG">
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>