<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/basic.css">
        <link rel="stylesheet" href="css/core.css">
        <link rel="stylesheet" href="css/course.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/form-singUp.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/lesson.css">
        <link rel="stylesheet" href="css/modal.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/lesson.css">
        <link rel="stylesheet" href="css/lessons.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__content container">
                    <a href="#" class="header__logo">
                        <img src="images/logo/logo_tensor-school.png" class="header__logoImage" alt="логотип школы Тензор">
                    </a>
                    <nav class="header__menu">
                        <ul class="menu__list">
                            <li class="menu__listItem"><a href="#" class="menu__link link">уроки</a></li>
                            <li class="menu__listItem"><a href="#" class="menu__link link">записаться</a></li>
                            <li class="menu__listItem"><a href="#" class="menu__link link">вход</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="lessons container">
                <div class="lessons__item">
                    <p class="lessons__title">Frontend</p>
                    <p class="lessons__disc">Я Работаю на должности такой-то. В компаниии Такой-то 5 лет.Мне очень нравится</p>
                    <p class="lessons__date">21 Сентября 11:00</p>
                    <div class="lessons__btns">
                        <div class="lesson__btn btn-primary">Подробнее</div>
                        <div class="lesson__btn btn-secondary">Записаться</div>
                    </div>
                </div>
                <div class="lessons__item">
                    <p class="lessons__title">Frontend</p>
                    <p class="lessons__disc">Я Работаю на должности такой-то. В компаниии Такой-то 5 лет.Мне очень нравится</p>
                    <p class="lessons__date">21 Сентября 11:00</p>
                    <div class="lessons__btns">
                        <div class="lesson__btn btn-primary">Подробнее</div>
                        <div class="lesson__btn btn-secondary">Записаться</div>
                    </div>
                </div>
                <div class="lessons__item">
                    <p class="lessons__title">Frontend</p>
                    <p class="lessons__disc">Я Работаю на должности такой-то. В компаниии Такой-то 5 лет.Мне очень нравится</p>
                    <p class="lessons__date">21 Сентября 11:00</p>
                    <div class="lessons__btns">
                        <div class="lesson__btn btn-primary">Подробнее</div>
                        <div class="lesson__btn btn-secondary">Записаться</div>
                    </div>
                </div>
                <div class="lessons__item">
                    <p class="lessons__title">Frontend</p>
                    <p class="lessons__disc">Я Работаю на должности такой-то. В компаниии Такой-то 5 лет.Мне очень нравится</p>
                    <p class="lessons__date">21 Сентября 11:00</p>
                    <div class="lessons__btns">
                        <div class="lesson__btn btn-primary">Подробнее</div>
                        <div class="lesson__btn btn-secondary">Записаться</div>
                    </div>
                </div>
                <div class="lessons__item">
                    <p class="lessons__title">Frontend</p>
                    <p class="lessons__disc">Я Работаю на должности такой-то. В компаниии Такой-то 5 лет.Мне очень нравится</p>
                    <p class="lessons__date">21 Сентября 11:00</p>
                    <div class="lessons__btns">
                        <div class="lesson__btn btn-primary">Подробнее</div>
                        <div class="lesson__btn btn-secondary">Записаться</div>
                    </div>
                </div>
            
                </div>
            </main>
            <footer class="footer">
                <div class="footer__content container">
                    <address class="footer__contacts">
                        Центр разработки в Уфе. Адрес:
                        ул. Менделеева, 134/7, БЦ «Территория 3000».
                        Телефон: +7 347 246-16-44
                    </address>
                    <div class="footer__logo">
                        <a href="#">
                            <img src="images/logo/logo_tensor.PNG" alt="логотип Тензор">
                        </a>
                    </div>
                    <div class="footer__socialLinks">
                        <a href="#" class="footer__item">
                            <img src="images/icons/vk.PNG" alt="логотип VK">
                        </a>
                        <a href="#" class="footer__item">
                            <img src="images/icons/inst.PNG" alt="логотип Inst">
                        </a>
                        <a href="#" class="footer__item">
                            <img src="images/icons/tg.PNG" alt="логотип TG">
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>