<head>
    <style>
      .letter {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif; 
        color: rgb(22, 22, 22); 
      }
      .hi {
        font-weight: bold;
        font-size: 20px;
      }
    </style>
</head>
  <body>
    <div class='letter'>
    <p class = 'hi'>Привет, {{member_name}}!</p>
    <p>Регистрация на курс "{{course_name}}" от компании Тензор прошла успешно.</p>
    <p>Первая лекция состоится {{course_date}}.</p>
    <p>Ждем тебя в 17:45 по Уфе.</p>
    <p>Наш адрес: ул. Менделеева, 134 /7.<br>Территория БЦ «Арена 3000».<br>Вход А, 3 этаж.<br>Встречаемся у лифта.</p>
    <p>Длительность одного занятия 1,5 - 2 часа с небольшим перерывом между теорией и практикой.</p>
    <p>С собой потребуется взять блокнот и ручку.</p>
    <p>Если возникнут вопросы, пиши нам на почту tensorschool.project@gmail.com.</p>
    <p>До встречи на занятиях!</p>
    </div>
  </body>